@font-face {
    font-family: amazonEmber;
    src: url(../fonts/Amazon\ Ember\ Cd\ RC.otf);
}

 body{
    font-family: Roboto,amazonEmber ,Arial, Helvetica, sans-serif ; 
}
.wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 1700px;
}